<div class="top">
    <div class="topLeft">
      <i class="topIcon fab fa-facebook-square"></i>
      <i class="topIcon fab fa-instagram-square"></i>
      <i class="topIcon fab fa-pinterest-square"></i>
      <i class="topIcon fab fa-twitter-square"></i>
    </div>
    <div class="topCenter">
      <ul class="topList">
        <li routerLink="/home" class="topListItem">
            HOME
          </li>
        <li class="topListItem">ABOUT</li>
        <li class="topListItem">CONTACT</li>
        <li routerLink="/write" class="topListItem">
            WRITE
          </li>
          <li routerLink="/home" class="topListItem">
          LOGOUT
        </li>
      </ul>
    </div>
    <div class="topRight">
    
        <ul class="topList">
          <li routerLink="/login" class="topListItem">
              LOGIN
            </li>
          <li routerLink="/register" class="topListItem">
              REGISTER
            </li>
        </ul>
      
      <i class="topSearchIcon fas fa-search"></i>
    </div>
  </div>