<div class="login">
    <span class="loginTitle">Login</span>
    <form class="loginForm" >
      <label>Username</label>
      <input
        type="text"
        class="loginInput"
        placeholder="Enter your username..."
      />
      <label>Password</label>
      <input
        type="password"
        class="loginInput"
        placeholder="Enter your password..."
      />
      <button class="loginButton" type="submit">
        Login
      </button>
    </form>
    <button class="loginRegisterButton">
    
        Register
    </button>
  </div>