<p>register works!</p>
<div class="register">
    <span class="registerTitle">Register</span>
    <form *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate class="registerForm" >
      <label>Username</label>
      <input
        type="text"
        class="registerInput"
        placeholder="Enter your username..."
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
      />
      <div class="alert-danger" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors['required']">Username is required</div>
        <div *ngIf="username.errors['minlength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="username.errors['maxlength']">
          Username must be at most 20 characters
        </div>
      </div>
      <label>Email</label>
      <input
        type="text"
        class="registerInput"
        placeholder="Enter your email..."
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"

      />
      <div class="alert-danger" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">Email is required</div>
        <div *ngIf="email.errors['email']">
          Email must be a valid email address
        </div>
      </div>
      <label>Password</label>
      <input
        type="password"
        class="registerInput"
        placeholder="Enter your password..."
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
      <button class="registerButton" type="submit">
        Register
      </button>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
    <button class="loginButton">
        Login
    </button>
    
  </div>