<p>register works!</p>
<div class="register">
    <span class="registerTitle">Register</span>
    <form class="registerForm" >
      <label>Username</label>
      <input
        type="text"
        class="registerInput"
        placeholder="Enter your username..."
      />
      <label>Email</label>
      <input
        type="text"
        class="registerInput"
        placeholder="Enter your email..."
      />
      <label>Password</label>
      <input
        type="password"
        class="registerInput"
        placeholder="Enter your password..."
      />
      <button class="registerButton" type="submit">
        Register
      </button>
    </form>
    <button class="loginButton">
        Login
    </button>
    
  </div>